mixin contest(contest)
    if contest === null
        .contest.new
            a.new(href="javascript:void(null)") new
    else
        .contest(data-contest-id=contest._id.toString(), data-priority=contest.priority)
            .controls
                a.tote(href="/contest/#{contest._id.toString()}/tote") Tote Board
                br
                a.delete(href="javascript:void(null)") Delete
                br
                a.move(href="javascript:void(null)") Move
            b Vig:&nbsp;
            input.vig(value=contest.vig)
            br
            br
            b New contestant:&nbsp;
            input.new-contestant(placeholder="Name")
            br
            br
            b Delete contestant:&nbsp;
            img(class="delete" src="/delete-box.png")
            br
            br
            table.brackets
                tr
                    each bracket in contest.brackets
                        +bracket(bracket)
                    +bracket()
            br
            +bids(contest.bids)

mixin bracket(bracket)
    td.bracket(class=(bracket ? '' : 'prototype'))
        table
            tr
                th
                    a.new-match(href="javascript:void(null)") new match
            if bracket
                each match in bracket
                    +match(match)
            +match()

mixin match(match)
    tr.match(class=(match ? '' : 'prototype'))
        td.contestants
            .contestant
                if match && match.contestants.length > 0
                    .name(class=(match.contestants[0] == match.winner ? 'winner' : ''))= match.contestants[0]
            img(src="/vs.png")
            .contestant
                if match && match.contestants.length > 1
                    .name(class=(match.contestants[1] == match.winner ? 'winner' : ''))= match.contestants[1]
        td.controls
            a.delete(href="javascript:void(null)") X
            br
            a.move(href="javascript:void(null)") &vArr;

mixin bids(bids)
    table.bids
        tr
            each typeBids, type in bids
                th= type
        tr
            each typeBids, type in bids
                +bidType(typeBids, type)

mixin bidType(typeBids, type)
    td.bid-type(class=type, data-type=type)
        each bid in typeBids
            +bid(bid)
        a.new-bid(href="javascript:void(null)") new

mixin bid(bid)
    .bid(class=(bid.won ? 'won' : ''))
        span.bidder(data-val=bid.bidder)= bid.bidder
        | &nbsp;:&nbsp;
        span.amount(data-val=bid.amount) $#{bid.amount}
        | &nbsp;on&nbsp;
        span.on(data-val=bid.on)= bid.on
        .payout
            | Payout:&nbsp;$#{bid.payout}
        .controls
            a.delete(href="javascript:void(null)") x
        hr
