mixin contest(contest)
    if contest === null
        .contest.new
            a(href="javascript:void(null)") new
    else
        .contest(data-contest-id=contest._id.toString(), data-priority=contest.priority)
            b Vig:&nbsp;
            input.vig(value=contest.vig)
            input.new-contestant(placeholder="New contestant")
            .controls
                a.delete(href="javascript:void(null)") Delete
                br
                a.tote(href="/contest/#{contest._id.toString()}/tote") Tote Board
            table.brackets
                tr
                    each bracket in contest.brackets
                        td
                            +bracket(bracket)
            table.bids
                tr
                    each bids, type in contest.bids
                        th= type
                tr
                    each bidType in contest.bids
                        +bidType(bidType)

mixin bracket(bracket)
    table.bracket
        each match in bracket
            tr.match
                td.contestants
                    each contestant in match.contestants
                        .contestant(class=(contestant == match.winner ? 'winner' : ''))= contestant
                td.handle

mixin bidType(bidType)
    td
        each bid in bidType
            .bid #{bid.bidder}&nbsp;:&nbsp;$#{bid.amount}&nbsp;on&nbsp;#{bid.on}
        a.new-bid(href="javascript:void(null)") new
