html
    head
        title Thumb Durr Dome
        block stylesheets
            link(rel='stylesheet', href='/tote.css')
    body
        table
            tr
                th Payout per $1 on to-win bids
                each type in ['Place bids', 'Show bids', 'Exacta', 'Trifecta']
                    th= type
            tr
                td.bidType
                    table
                        each payout, outcome in board['win']
                            tr
                                td= outcome
                                td $#{payout}
                each type in ['place', 'show', 'exacta', 'trifecta']
                    td.bidType
                        table
                            - var total = 0;
                            each value, outcome in board[type]
                                - total += Number(value)
                                tr
                                    td= outcome
                                    td $#{value}
                            tr.total
                                td Total
                                td $#{total}

